@use '../util'as *;

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  // height: rem(646); //tener cuidado con esto
  display: flex;
  align-items: flex-start;
  justify-content: center;
  // padding: rem(20) 0;
  margin: rem(71) auto;
}